<!--<div class="container-fluid">
    <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="d-flex flex-column">
            <img src="../../assets/hotel1.jpg" class="img-fluid">

            <img src="../../assets/hotel1.jpg" class="img-fluid">
        </div>

        <div class="d-flex flex-column">
            <img src="../../assets/hotel1.jpg" class="img-fluid">

            <img src="../../assets/hotel1.jpg" class="img-fluid scale">
        </div>

        <div class="d-flex flex-column">
            <img src="../../assets/hotel1.jpg" class="img-fluid scale mb-2">
            <img src="../../assets/hotel1.jpg" class="img-fluid">
        </div>
        <div class="d-flex flex-column">
            <img src="../../assets/hotel1.jpg" class="img-fluid">

            <img src="../../assets/hotel1.jpg" class="img-fluid">
        </div>

        <div class="d-flex flex-column">
            <img src="../../assets/hotel1.jpg" class="img-fluid">

            <img src="../../assets/hotel1.jpg" class="img-fluid scale">
        </div>

        <div class="d-flex flex-column">
            <img src="../../assets/hotel1.jpg" class="img-fluid scale mb-2">
            <img src="../../assets/hotel1.jpg" class="img-fluid">
        </div>

    </div>
</div>-->


<!-- Gallery -->
<div class="container-fluid">
<div class="container gallery">
    <div class="row icon">
        <div class="col">
           <h3> <i type="button" (click)="back() " class="bi bi-x-square"></i></h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Gallery</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <div class="content"> 
                <div class="content-overlay"></div> <img class="content-image" src="./assets/hotel3.jpg">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Room 310</h3>
                    <p class="content-text"><i class="fa fa-map-marker"></i> 322$/night</p>
                </div>
             </div>

            <div class="content"> 
                <div class="content-overlay"></div> <img class="content-image" src="./assets/hotel2.jpg">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Room 310</h3>
                    <p class="content-text"><i class="fa fa-eur"></i> 322$/night</p>
                </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="content"> 
                <div class="content-overlay"></div> <img class="content-image" src="./assets/hotel1.jpg">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Room 310</h3>
                    <p class="content-text"><i class="fa fa-map-marker"></i> 322$/night</p>
                </div>
             </div>

            <div class="content"> 
                <div class="content-overlay"></div> <img class="content-image" src="./assets/hotel7.jpg">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Room 310</h3>
                    <p class="content-text"><i class="fa fa-eur"></i> 322$/night</p>
                </div>
            </div>
            <div class="content"> 
                <div class="content-overlay"></div> <img class="content-image" src="./assets/hotel7.jpg">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Room 310</h3>
                    <p class="content-text"><i class="fa fa-eur"></i> 322$/night</p>
                </div>
             </div>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="content"> 
                <div class="content-overlay"></div> <img class="content-image" src="./assets/hotel4.jpg">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Room 310</h3>
                    <p class="content-text"><i class="fa fa-map-marker"></i> 322$/night</p>
                </div>
            </div>

            <div class="content"> 
                <div class="content-overlay"></div> <img class="content-image" src="./assets/hotel4.jpg">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Room 310</h3>
                    <p class="content-text"><i class="fa fa-eur"></i> 322$/night</p>
                </div>
           </div>
            <div class="content"> 
                <div class="content-overlay"></div> <img class="content-image" src="./assets/hotel7.jpg">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Room 310</h3>
                    <p class="content-text"><i class="fa fa-eur"></i> 322$/night</p>
                </div>
             </div>
        </div>
        
    </div>

   



</div>
</div>
<!-- Gallery -->